h1 {
  color: #ec0bf3;
}

body {
  background-color: #04233b;
  color: white;
}

header {
  background-color: crimson;
  color: white;
  text-align: center;
}

.picture {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, 1fr);
}

.blog {
  font-family: "Montserrat", sans-serif;
}
