h1 {
  color: #ec0bf3;
}

body {
  background-color: #04233b;
  color: white;
}

nav {
  background-color: crimson;
  color: white;
  text-align: center;
}

.blog {
  font-family: "Montserrat", sans-serif;
}
